.greenBanner
  display flex
  flex-direction column
  align-items center
  padding-bottom 132px

  & .banner_box
    background linear-gradient(92.64deg, #66B700 0%, #A2D906 100%)

    &__item
      z-index 1
      position absolute
      top 50%
      left 20%
      transform translateY(-50%)
      max-width 350px
      color #fff

      &>h4
        color #fff
        margin-bottom 20px

      &>a
        display flex
        width fit-content
        border-radius 4px
        background rgba(255, 255, 255, 0.12)
        font-weight bold
        padding 18px 52px
        margin-top 44px

  &_abstract
    position absolute
    height 100%
    top 0
    left 0
    object-fit cover
    z-index 0
  
  &_people
    position absolute
    height 90%
    bottom 0
    right 20%
    object-fit cover
    z-index 0

  &_slider
    margin-top 60px
    display flex !important
    max-width 1200px

    & .slick-track
      display flex
      height 100%

    &__items
      padding 52px 64px 
      max-width 600px
      position relative
      height 100%
      background #FCFCFC
      border-radius 4px
      overflow hidden
      margin 0 10px

      &>p
        text-size-adjust 100%

      &:focus
        outline none

      &::before
        content ''
        display block
        position absolute
        left 0
        top 0
        height 100%
        width 12px
        background linear-gradient(180deg, #66B700 0%, #A2D906 100%)


@media all and (max-width 1440px)
  .greenBanner
    &_slider
      max-width 90%

@media all and (max-width 1280px)
  .greenBanner
    & .banner
      &_box
        &__item
          left 15%

    &_people
      right 15%

@media all and (max-width 1024px)
   .greenBanner
    & .banner
      &_box
        &__item
          left 10%

    &_abstract
      display none

    &_people
      right 5%

    &_slider
      &__items
        max-width 100%

@media all and (max-width 768px)
  .greenBanner
    padding-top 92px
    padding-bottom 92px

@media all and (max-width 640px)
  .greenBanner
    &_people
      display none

@media all and (max-width 560px)
  .greenBanner
    padding-top 60px
    padding-bottom 20px

    &_slider__items
      padding 36px

@media all and (orientation landscape) and (max-width 860px)
  .greenBanner
    padding-top 60px
    padding-bottom 60px