.howGet
  & .container
    &>h2
      color #8973DB

  &_box
    &__header
      &>h2
        font-weight 300
        position relative
        color #909090

        &::before
          content ''
          display block
          height 1px
          width 93%
          background #909090
          position absolute
          right 0
          top 50%
          transform translateY(-50%)