.list
  display flex
  flex-wrap wrap
  margin-bottom 100px

  &_box
    margin-top 28px
    width 50%
    padding-bottom 20px
    border-bottom 1px solid #e2e2e2

  & ul
    & li
      width fit-content
      color #5C5C5C
      margin 10px 0
      font-size .888888em
      cursor pointer
      font-weight 300

      &>span
        color #6ebb0e
        font-size 0.9em
        font-weight 500
        margin-left 8px