header
  width 100%
  display flex
  justify-content space-between
  align-items center
  margin 0 auto
  padding-top 12px !important
  padding-bottom 12px !important
  width 100%
  background #8973db
  position sticky
  top 0
  z-index 99

  & .container
    display flex
    align-items center
    justify-content space-between

  & .menu
    display flex

    & li
      display flex
      align-items center
      margin-right 45px

      &:last-child
        margin-right 0

      & a
        padding 15px
        border-radius 10px
        font-weight bold
        border 1px solid transparent
        transition .3s

        &:hover
          border 1px solid #fff
          transition .3s
  
  & .link
    display flex
    
    &>li
      margin-right 20px
      
      &:last-child
        margin-right 0

    & img
      display block

.mobButton
  display none
  width 30px
  height 30px
  border-radius 4px
  cursor pointer
  padding 5px
  position relative
  z-index 9999

  & .burger
    display block
    border-radius 10px
    background #fff
    border-radius 1px
    width 20px
    height 2px
    position absolute
    top 50%
    transform translateY(-50%) rotate(0)
    transition .5s cubic-bezier(0.445, 0.05, 0.55, 0.95)

    &::before
      content ''
      display block
      width 100%
      height 2px
      border-radius 10px
      background #fff
      border-radius 1px
      position absolute
      top -7px
      transition .5s cubic-bezier(0.445, 0.05, 0.55, 0.95)

    &::after
      content ''
      display block
      width 100%
      height 2px
      border-radius 10px
      background #fff
      border-radius 1px
      position absolute
      top 7px
      right 0
      transition .5s cubic-bezier(0.445, 0.05, 0.55, 0.95)

@media all and (max-width 1440px)
  header
    padding 0 45px
    max-width 100%

@media all and (max-width 768px)
  header
    & .menu
      &>li
        margin-right 20px
        
        &:last-child
          margin-right 0

@media all and (max-width 560px)
  header
  footer
    & .menu
      display none !important

  header
    padding 0 20px
    & .container
      padding 0

  .mobButton
    display block