.partner
  padding-top 132px
  background #fff

  &_box
    margin-top 80px
    display flex
    justify-content space-between
    border-radius 12px
    overflow hidden
    background #FCFCFC

    &__left
      width 45%
      min-width 500px
      padding 68px 68px 55px 68px

      &>ul
        position relative

        &::before
          content ''
          display block
          position absolute
          height 95%
          width 2px
          left 0
          top 50%
          transform translateY(-50%)
          background #645E9D

        &>li
          padding-left 40px
          margin-bottom 44px
          position relative

          &:before
            content ''
            display block
            width 12px
            height 12px
            border-radius 50%
            background #645E9D
            position absolute
            left 1px
            top 50%
            transform translate(-50%, -50%)

          &:last-child
            margin-bottom 0
      &>a
        background linear-gradient(91.25deg, #645E9D 0%, #9E7AC1 100%)
        padding 18px 44px
        border-radius 4px
        display block
        width fit-content
        margin-top 52px
        font-weight bold
        letter-spacing .5px

    &__right
      display flex
      position relative
      height auto
      width 50% 
      overflow hidden     
      background linear-gradient(72.39deg, #645E9D 32.15%, #9E7AC1 100%)

      &>img
        position absolute
        top 0
        left 50%
        transform translateX(-50%)
        height 100%

@media all and (max-width 1024px)
  .partner
    &_box
      flex-direction column

      &__left
        width 100%

      &__right
        height 400px
        width 100%

@media all and (max-width 768px)
  .partner
    padding-top 92px

@media all and (max-width 560px)
  .partner
    &_box
      &__left
        padding 68px 12px 55px
        min-width unset

        &>a
          padding 18px 0
          width 100%
          max-width 300px
          display flex
          justify-content center
          margin 52px auto 0

        &>ul
          margin 0 auto
          width fit-content

          &>li
            max-width 80vw

@media all and (orientation landscape) and (max-width 860px)
  .partner
    padding-top 92px

    &_box
      margin-top 60px