.steps
  padding-top 132px
  background #fff
  display flex
  flex-direction column
  align-items center

  &_table
    width 1200px
    margin-left calc(50vw - 600px)
    margin-top 96px
    margin-bottom 25px
    background #FCFCFC
    border-radius 4px
    display grid
    grid-template-columns repeat(8, 1.2fr)
    grid-template-rows repeat(4, 1fr)
    padding 40px 0 22px 28px
    grid-row-gap 25px
    position relative

    &_bg
      padding 12px 0
      background rgba(241, 241, 241, 0.6)
      display flex

      &>img
        margin-left 8px

      &.tabl_left
        padding-left: 16px
        border-top-left-radius 30px
        border-bottom-left-radius 30px

      &.tabl_right
        padding-right: 16px
        border-top-right-radius 30px
        border-bottom-right-radius 30px

      &.table_color
        color #645E9D

    &:after
      content ""
      position: absolute
      width 100%
      height 100%
      grid-column: -4/-1;
      grid-row: 1/-1;
      border-radius 24px
      transform: translate(-32px,-55px)
      padding-bottom: 60px
      border 16px solid #645E9D

  &_total
    margin-top 60px
    border-radius 4px
    padding 40px
    border 1px solid #F1F1F1
    box-shadow 0px 15px 40px rgba(0, 0, 0, 0.04)
    display flex

    &__left
      width 55%
      margin-right 5%

      &-title
        font-weight bold
        margin-bottom 24px
        max-width 450px

      

    &__right
      width 40%
      display flex
      align-items center
      justify-content center

      &>h5
        color #645E9D
        margin-right 16px

      &-img
        width 56px
        height 56px
        display flex
        justify-content center
        align-items center
        margin-right 32px

        &>img
          border-radius 50%
          border 10px solid rgba(100, 94, 157, 0.2)
    
    &__box
      display flex
      align-items center
      color #645E9D
      background rgba(158, 122, 193, 0.12)
      border-radius 4px
      padding 18px 24px
      font-weight bold

.table_wrap
  overflow auto hidden
  width 100%

@media all and (max-width 1440px)
  .steps
    padding 132px 0 0 0

    &_total
      margin 60px 68px 0

@media all and (max-width 1280px)
  .steps
    &_table
      margin-left 0
      padding-right 68px

    &_total
      flex-direction column

      &__right
        width fit-content
        margin-top 40px

      &__left
        width fit-content

  .table_wrap
    padding-left 68px

@media all and (max-width 768px)
  .steps
    padding 92px 0 0 0

@media all and (max-width 640px)
  .steps
    &>h4
      text-align center

    &_total
      margin 60px 12px 0

      &__left
        margin-right 0
        
      &__right
        margin 40px auto 0

        &-img
          display none

    &_table
      padding-right 12px

  .table_wrap
    padding-left 12px

@media all and (orientation landscape) and (max-width 860px)
  .steps
    padding-top 92px